/* line 3, ../../xampp/htdocs/jazz/sass/button.scss */
.btn {
  cursor: pointer;
  font-weight: 300;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 10, ../../xampp/htdocs/jazz/sass/button.scss */
.btn.btn-primary {
  background-color: #721422;
  border: none;
  border-bottom: 4px solid rgba(0, 0, 0, 0.6);
  color: #e8e8e8;
}

/* line 16, ../../xampp/htdocs/jazz/sass/button.scss */
.btn.btn-primary:not(:disabled):not(.disabled):focus, .btn.btn-primary:not(:disabled):not(.disabled):hover, .btn.btn-primary:not(:disabled):not(.disabled):active {
  background-color: #721422;
  border: none;
  border-bottom: 4px solid rgba(0, 0, 0, 0.6);
  outline: none;
  box-shadow: none;
}

/* line 7, ../../xampp/htdocs/jazz/sass/mainSlider.scss */
.main-slider.owl-carousel .owl-item img {
  border-bottom-right-radius: 50px;
}

/* line 12, ../../xampp/htdocs/jazz/sass/mainSlider.scss */
.main-slider .card {
  border: none;
  background-color: #c14d14;
}

/* line 15, ../../xampp/htdocs/jazz/sass/mainSlider.scss */
.main-slider .card .card-img-top {
  border-radius: 0;
}

/* line 18, ../../xampp/htdocs/jazz/sass/mainSlider.scss */
.main-slider .card .card-body {
  color: #e8e8e8;
  padding: 0;
}

/* line 21, ../../xampp/htdocs/jazz/sass/mainSlider.scss */
.main-slider .card .card-body .artist-info {
  padding: 0.875rem 1.25rem;
}

@media (min-width: 1200px) {
  /* line 21, ../../xampp/htdocs/jazz/sass/mainSlider.scss */
  .main-slider .card .card-body .artist-info {
    padding: 0.875rem 0.6rem;
  }
}

@media (min-width: 1441px) {
  /* line 21, ../../xampp/htdocs/jazz/sass/mainSlider.scss */
  .main-slider .card .card-body .artist-info {
    padding: 0.875rem 1.25rem;
  }
}

/* line 29, ../../xampp/htdocs/jazz/sass/mainSlider.scss */
.main-slider .card .card-body .artist-info .performer {
  font-size: 1.2rem;
  line-height: 1.3rem;
  text-align: left;
  display: flex;
  align-items: center;
  margin-bottom: 0;
  min-height: 50px;
}

@media (min-width: 768px) {
  /* line 29, ../../xampp/htdocs/jazz/sass/mainSlider.scss */
  .main-slider .card .card-body .artist-info .performer {
    font-size: 1rem;
    line-height: 1rem;
  }
}

@media (min-width: 1200px) {
  /* line 29, ../../xampp/htdocs/jazz/sass/mainSlider.scss */
  .main-slider .card .card-body .artist-info .performer {
    font-size: 1.2rem;
    line-height: 1.2rem;
  }
}

/* line 46, ../../xampp/htdocs/jazz/sass/mainSlider.scss */
.main-slider .card .card-body .artist-info .genre {
  font-size: 1rem;
  font-weight: 300;
  margin: 0;
}

/* line 52, ../../xampp/htdocs/jazz/sass/mainSlider.scss */
.main-slider .card .card-body .event-info {
  border-top-left-radius: 25px;
  background: #e8e8e8;
  padding: 0.5rem 1.75rem;
  color: #5a5a5a;
  box-shadow: 0px -2px 8px 0px rgba(0, 0, 0, 0.75);
}

/* line 58, ../../xampp/htdocs/jazz/sass/mainSlider.scss */
.main-slider .card .card-body .event-info .date,
.main-slider .card .card-body .event-info .time,
.main-slider .card .card-body .event-info .cover {
  font-size: 1rem;
  font-weight: 700;
  margin: 0;
}

@media (min-width: 768px) {
  /* line 52, ../../xampp/htdocs/jazz/sass/mainSlider.scss */
  .main-slider .card .card-body .event-info {
    padding: 0.5rem 1.2rem;
  }
}

@media (min-width: 1200px) {
  /* line 52, ../../xampp/htdocs/jazz/sass/mainSlider.scss */
  .main-slider .card .card-body .event-info {
    padding: 0.5rem 1.75rem;
  }
}

/* line 3, ../../xampp/htdocs/jazz/sass/input.scss */
.input-text {
  border: none;
  border-bottom: 2px solid #721422;
  border-radius: 0;
  height: calc(3.25rem + 2px);
  color: #10446E;
  font-weight: 700;
}

/* line 10, ../../xampp/htdocs/jazz/sass/input.scss */
.input-text:focus {
  border: none;
  border-bottom: 2px solid #c14d14;
  box-shadow: 0 7px 20px -6px #c14d14;
  color: #10446E;
  font-weight: 700;
}

/* line 5, ../../xampp/htdocs/jazz/sass/select.scss */
select.form-control {
  border: none;
  border-bottom: 2px solid #721422;
  border-radius: 0;
  height: calc(3.25rem + 2px);
  color: #10446E;
  font-weight: 700;
}

/* line 12, ../../xampp/htdocs/jazz/sass/select.scss */
select.form-control:focus {
  border: none;
  border-bottom: 2px solid #c14d14;
  box-shadow: 0 7px 20px -6px #c14d14;
  color: #10446E;
  font-weight: 700;
}

/* line 20, ../../xampp/htdocs/jazz/sass/select.scss */
select:required:invalid {
  color: #5a5a5a;
}

/* line 22, ../../xampp/htdocs/jazz/sass/select.scss */
select:required:invalid option[value=""][disabled] {
  display: none;
}

/* line 25, ../../xampp/htdocs/jazz/sass/select.scss */
select:required:invalid option {
  color: #000;
}

/* line 27, ../../xampp/htdocs/jazz/sass/select.scss */
select:required:invalid option:hover {
  background: red;
}

/*
 *  Global settings
 */
/* line 11, ../../xampp/htdocs/jazz/sass/main.scss */
* {
  font-family: "Roboto", sans-serif;
}

/* line 15, ../../xampp/htdocs/jazz/sass/main.scss */
body {
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

/* line 21, ../../xampp/htdocs/jazz/sass/main.scss */
header {
  background: #000;
  padding: 0.75rem 0;
  border-bottom: 2px solid #e8e8e8;
}

/* line 27, ../../xampp/htdocs/jazz/sass/main.scss */
.footer {
  background: #000;
}

/* line 29, ../../xampp/htdocs/jazz/sass/main.scss */
.footer .horizontal-line {
  border: 0;
  width: 100%;
  background: #000;
  background: -moz-linear-gradient(left, #000 0%, #bb8b41 51%, #000 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #000), color-stop(51%, #bb8b41), color-stop(100%, #000));
  background: -webkit-linear-gradient(left, #000 0%, #bb8b41 51%, #000 100%);
  background: -o-linear-gradient(left, #000 0%, #bb8b41 51%, #000 100%);
  background: -ms-linear-gradient(left, #000 0%, #bb8b41 51%, #000 100%);
  background: linear-gradient(to right, #000 0%, #bb8b41 51%, #000 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$pl-black', endColorstr='$pl-black', GradientType=1 );
  height: 2px;
}

@media (min-width: 1441px) {
  /* line 29, ../../xampp/htdocs/jazz/sass/main.scss */
  .footer .horizontal-line {
    width: 70%;
  }
}

/* line 76, ../../xampp/htdocs/jazz/sass/main.scss */
.footer .address {
  color: #bb8b41;
  font-size: 1.2rem;
  line-height: 1.2rem;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 84, ../../xampp/htdocs/jazz/sass/main.scss */
.footer .address .logo {
  margin-right: 0.875rem;
}

/* line 88, ../../xampp/htdocs/jazz/sass/main.scss */
.footer .link {
  margin-top: 1rem;
  color: #bb8b41;
  font-weight: 700;
}

/* line 96, ../../xampp/htdocs/jazz/sass/main.scss */
.icon--margin-right {
  margin-right: 0.5rem;
}

/* line 99, ../../xampp/htdocs/jazz/sass/main.scss */
.icon--color-gold {
  color: #bb8b41;
}

/* line 104, ../../xampp/htdocs/jazz/sass/main.scss */
.background-image {
  height: calc(100vh - 65px);
  min-width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

/* line 113, ../../xampp/htdocs/jazz/sass/main.scss */
.background-image__main-image {
  background-image: url("../images/content/mobile/mainBG.jpg");
}

/* line 116, ../../xampp/htdocs/jazz/sass/main.scss */
.background-image__second-image {
  background-image: url("../images/content/mobile/secondBG.jpg");
  height: 60vh;
}

@media (min-width: 1200px) {
  /* line 104, ../../xampp/htdocs/jazz/sass/main.scss */
  .background-image {
    height: 60vh;
    background-size: contain;
    background-color: black;
  }
  /* line 124, ../../xampp/htdocs/jazz/sass/main.scss */
  .background-image__main-image {
    background-image: url("../images/content/mainBG-desk.jpg");
  }
  /* line 127, ../../xampp/htdocs/jazz/sass/main.scss */
  .background-image__second-image {
    background-image: url("../images/content/secondBG-desk.jpg");
    background-size: cover;
  }
}

/* line 132, ../../xampp/htdocs/jazz/sass/main.scss */
.background-image__third-image {
  background-image: url("../images/content/imageBar-desk.jpg");
  height: 350px;
}

/* line 136, ../../xampp/htdocs/jazz/sass/main.scss */
.background-image__button {
  height: 40vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 142, ../../xampp/htdocs/jazz/sass/main.scss */
.background-image__button a {
  font-size: 1.6rem;
  font-weight: 700;
  color: #fff;
}

@media (min-width: 768px) {
  /* line 142, ../../xampp/htdocs/jazz/sass/main.scss */
  .background-image__button a {
    font-size: 3rem;
  }
}

@media (min-width: 1440px) {
  /* line 142, ../../xampp/htdocs/jazz/sass/main.scss */
  .background-image__button a {
    font-size: 6rem;
  }
}

/* line 153, ../../xampp/htdocs/jazz/sass/main.scss */
.background-image__button--food {
  background-image: url("../images/content/menu/food.jpg");
}

/* line 156, ../../xampp/htdocs/jazz/sass/main.scss */
.background-image__button--drink {
  background-image: url("../images/content/menu/drinks.jpg");
}

/* line 162, ../../xampp/htdocs/jazz/sass/main.scss */
.first-copy {
  text-align: center;
  font-size: 1.6rem;
  margin: 0;
  color: #e8e8e8;
  padding: 4.5rem 0;
}

@media (min-width: 768px) {
  /* line 162, ../../xampp/htdocs/jazz/sass/main.scss */
  .first-copy {
    font-size: 3rem;
    padding: 6rem 4rem;
  }
}

@media (min-width: 1200px) {
  /* line 162, ../../xampp/htdocs/jazz/sass/main.scss */
  .first-copy {
    font-size: 2.5rem;
    padding: 4rem 24rem;
  }
}

@media (min-width: 1440px) {
  /* line 162, ../../xampp/htdocs/jazz/sass/main.scss */
  .first-copy {
    font-size: 2.5rem;
    padding: 4rem 30rem;
  }
}

/* line 183, ../../xampp/htdocs/jazz/sass/main.scss */
.row--background-red {
  background: #721422;
}

/* line 188, ../../xampp/htdocs/jazz/sass/main.scss */
.map {
  width: 100%;
  height: 350px;
}

@media (min-width: 768px) {
  /* line 188, ../../xampp/htdocs/jazz/sass/main.scss */
  .map {
    height: 100%;
  }
}

/* line 196, ../../xampp/htdocs/jazz/sass/main.scss */
form {
  margin: 1rem 0;
}

/* line 198, ../../xampp/htdocs/jazz/sass/main.scss */
form fieldset {
  margin-bottom: 1.5rem;
}

/* line 200, ../../xampp/htdocs/jazz/sass/main.scss */
form fieldset legend {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.6rem;
  font-weight: 600;
  color: #5a5a5a;
}

/* line 207, ../../xampp/htdocs/jazz/sass/main.scss */
form fieldset label {
  color: #5a5a5a;
  font-size: 1.2rem;
}

/* line 213, ../../xampp/htdocs/jazz/sass/main.scss */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: #10446E;
  -webkit-box-shadow: 0 0 0px 1000px rgba(187, 139, 65, 0.1) inset;
  transition: background-color 5000s ease-in-out 0s;
}

/* line 226, ../../xampp/htdocs/jazz/sass/main.scss */
.scroll-down-container {
  position: relative;
  width: 24px;
  height: 24px;
  margin-bottom: 50px;
}

/* line 231, ../../xampp/htdocs/jazz/sass/main.scss */
.scroll-down-container .chevron {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

/* line 238, ../../xampp/htdocs/jazz/sass/main.scss */
.scroll-down-container .chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

/* line 241, ../../xampp/htdocs/jazz/sass/main.scss */
.scroll-down-container .chevron::nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

/* line 244, ../../xampp/htdocs/jazz/sass/main.scss */
.scroll-down-container .chevron:before, .scroll-down-container .chevron:after {
  content: " ";
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #fff;
}

/* line 253, ../../xampp/htdocs/jazz/sass/main.scss */
.scroll-down-container .chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

/* line 257, ../../xampp/htdocs/jazz/sass/main.scss */
.scroll-down-container .chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

@keyframes pulse {
  to {
    opacity: 1;
  }
}

/* line 289, ../../xampp/htdocs/jazz/sass/main.scss */
.video-yt {
  width: 100%;
  height: 40vh;
}

@media (min-width: 1200px) {
  /* line 289, ../../xampp/htdocs/jazz/sass/main.scss */
  .video-yt {
    height: 55vh;
  }
}

/* line 297, ../../xampp/htdocs/jazz/sass/main.scss */
.title {
  font-size: 2rem;
  background: #721422;
  color: #e8e8e8;
  margin-top: 1rem;
}

@media (min-width: 768px) {
  /* line 297, ../../xampp/htdocs/jazz/sass/main.scss */
  .title {
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  /* line 297, ../../xampp/htdocs/jazz/sass/main.scss */
  .title {
    margin-left: 5rem;
  }
}

/*# sourceMappingURL=main.css.map */