@import "colors";
@import "font";
.btn {
  cursor: pointer;
  font-weight: 300;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0;
  line-height: 18px;
  &.btn-primary,
  &.btn-default {
    background-color: $pl-red;
    border: none;

    color: $pl-white;
    &:not(:disabled):not(.disabled) {
      &:focus,
      &:hover,
      &:active {
        background-color: $pl-red;
        border: none;

        outline: none;
        box-shadow: none;
      }
    }
  }
  &.btn-secundary {
    background-color: $pl-grey;
    border: none;
    color: $pl-white;
    &:not(:disabled):not(.disabled) {
      &:focus,
      &:hover,
      &:active {
        background-color: $pl-grey;
        border: none;
        outline: none;
        box-shadow: none;
      }
    }
  }
  &--margin-top {
    margin-top: 1.5rem;
  }
  &--margin-right {
    margin-right: 1.5rem;
  }
}
