@import "colors";
@import "font";
.btn {
  cursor: pointer;
  font-weight: 300;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  &.btn-primary, &.btn-default {
    background-color: $pl-red;
    border: none;
    border-bottom: 4px solid rgba($pl-black, 0.6);
    color: $pl-white;
    &:not(:disabled):not(.disabled) {
      &:focus,
      &:hover,
      &:active {
        background-color: $pl-red;
        border: none;
        border-bottom: 4px solid rgba($pl-black, 0.6);
        outline: none;
        box-shadow: none;
      }
    }
  }
  &.btn-secundary {
    background-color: $pl-grey;
    border: none;
    border-bottom: 4px solid rgba($pl-black, 0.6);
    color: $pl-white;
    &:not(:disabled):not(.disabled) {
      &:focus,
      &:hover,
      &:active {
        background-color: $pl-grey;
        border: none;
        border-bottom: 4px solid rgba($pl-black, 0.6);
        outline: none;
        box-shadow: none;
      }
    }
  }
  &--margin-top{
    margin-top: 1.5rem;
  }
  &--margin-right{
    margin-right: 1.5rem;
  }
}
