//Parker and Lenox Palette

$pl-black: #000;
$pl-gold: #bb8b41;
$pl-dark-blue: #10446E;
$pl-light-blue: #4185BB;
$pl-brown: #6E4E1B;
$pl-sand: #FFC872;
$pl-white: #e8e8e8;
$pl-orange: #c14d14;
$pl-grey:#5a5a5a;
$pl-gray-aux: #dee2e6;
$pl-red: #721422;
$pl-red-error: #d61b36;
