@import "colors";
@import "font";
.input-text {
  border: none;
  border-bottom: 2px solid $pl-red;
  border-radius: 0;
  height: calc(3.25rem + 2px);
  color: $pl-dark-blue;
  font-weight: $font-bold;
  &::-webkit-input-placeholder {
    font-weight: $font-normal;
  }
  &:focus {
    border: none;
    border-bottom: 2px solid $pl-orange;
    box-shadow: 0 7px 20px -6px $pl-orange;
    color: $pl-dark-blue;
    font-weight: $font-bold;
  }
  &--error{
    border-color: $pl-red-error;
  }
}
