@import "colors";
@import "button";
@import "mainSlider";
@import "font";
@import "input";
@import "select";

/*
 *  Global settings
 */
* {
  font-family: $font-family;
}

body {
  font-weight: $font-normal;
  font-style: normal;
  font-size: 16px;
}

header {
  background: $pl-black;
  padding: 0.75rem 0;
  border-bottom: 2px solid $pl-white;
}

.footer {
  background: $pl-black;
  .horizontal-line {
    border: 0;
    width: 100%;
    background: $pl-black;
    background: -moz-linear-gradient(
      left,
      $pl-black 0%,
      $pl-gold 51%,
      $pl-black 100%
    );
    background: -webkit-gradient(
      left top,
      right top,
      color-stop(0%, $pl-black),
      color-stop(51%, $pl-gold),
      color-stop(100%, $pl-black)
    );
    background: -webkit-linear-gradient(
      left,
      $pl-black 0%,
      $pl-gold 51%,
      $pl-black 100%
    );
    background: -o-linear-gradient(
      left,
      $pl-black 0%,
      $pl-gold 51%,
      $pl-black 100%
    );
    background: -ms-linear-gradient(
      left,
      $pl-black 0%,
      $pl-gold 51%,
      $pl-black 100%
    );
    background: linear-gradient(
      to right,
      $pl-black 0%,
      $pl-gold 51%,
      $pl-black 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$pl-black', endColorstr='$pl-black', GradientType=1 );
    height: 2px;
    @media (min-width: 1441px) {
      width: 70%;
    }
  }
  .address {
    color: $pl-gold;
    font-size: 1.2rem;
    line-height: 1.2rem;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    .logo {
      margin-right: 0.875rem;
    }
  }
  .link {
    margin-top: 1rem;
    color: $pl-gold;
    font-weight: $font-bold;
  }
}

.icon {
  &--margin-right {
    margin-right: 0.5rem;
  }
  &--color-gold {
    color: $pl-gold;
  }
}

.background-image {
  height: calc(100vh - 65px);
  min-width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  &__main-image {
    background-image: url("../images/content/mobile/mainBG.jpg");
  }
  &__second-image {
    background-image: url("../images/content/mobile/secondBG.jpg");
    height: 60vh;
  }
  @media (min-width: 1200px) {
    height: 60vh;
    background-size: contain;
    background-color: black;
    &__main-image {
      background-image: url("../images/content/mainBG-desk.jpg");
    }
    &__second-image {
      background-image: url("../images/content/secondBG-desk.jpg");
      background-size: cover;
    }
  }
  &__third-image {
    background-image: url("../images/content/imageBar-desk.jpg");
    height: 350px;
  }
  &__button {
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      font-size: 1.6rem;
      font-weight: $font-bold;
      color: #fff;
      @media (min-width: 768px) {
        font-size: 3rem;
      }
      @media (min-width: 1440px) {
        font-size: 6rem;
      }
    }
    &--food {
      background-image: url("../images/content/menu/food.jpg");
    }
    &--drink {
      background-image: url("../images/content/menu/drinks.jpg");
    }
  }
}

.first-copy {
  text-align: center;
  font-size: 1.6rem;
  margin: 0;
  color: $pl-white;
  padding: 4.5rem 0;
  @media (min-width: 768px) {
    font-size: 3rem;
    padding: 6rem 4rem;
  }
  @media (min-width: 1200px) {
    font-size: 2.5rem;
    padding: 4rem 24rem;
  }
  @media (min-width: 1440px) {
    font-size: 2.5rem;
    padding: 4rem 30rem;
  }
}

.row {
  &--background-red {
    background: $pl-red;
  }
}

.map {
  width: 100%;
  height: 350px;
  @media (min-width: 768px) {
    height: 100%;
  }
}

form {
  margin: 1rem 0;
  fieldset {
    margin-bottom: 1.5rem;
    legend {
      text-align: center;
      margin-bottom: 1rem;
      font-size: 1.6rem;
      font-weight: 600;
      color: #5a5a5a;
    }
    label {
      color: #5a5a5a;
      font-size: 1.2rem;
    }
  }
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: $pl-dark-blue;
  -webkit-box-shadow: 0 0 0px 1000px rgba($pl-gold, 0.1) inset;
  transition: background-color 5000s ease-in-out 0s;
}

.scroll-down-container {
  position: relative;
  width: 24px;
  height: 24px;
  margin-bottom: 50px;
  .chevron {
    position: absolute;
    width: 28px;
    height: 8px;
    opacity: 0;
    transform: scale3d(0.5, 0.5, 0.5);
    animation: move 3s ease-out infinite;
    &:first-child {
      animation: move 3s ease-out 1s infinite;
    }
    &::nth-child(2) {
      animation: move 3s ease-out 2s infinite;
    }
    &:before,
    &:after {
      content: " ";
      position: absolute;
      top: 0;
      height: 100%;
      width: 51%;
      background: #fff;
    }
    &:before {
      left: 0;
      transform: skew(0deg, 30deg);
    }
    &:after {
      right: 0;
      width: 50%;
      transform: skew(0deg, -30deg);
    }
  }

  @keyframes move {
    25% {
      opacity: 1;
    }
    33% {
      opacity: 1;
      transform: translateY(30px);
    }
    67% {
      opacity: 1;
      transform: translateY(40px);
    }
    100% {
      opacity: 0;
      transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    }
  }

  @keyframes pulse {
    to {
      opacity: 1;
    }
  }
}

.video-yt {
  width: 100%;
  height: 40vh;
  @media (min-width: 1200px) {
    height: 55vh;
  }
}

.title {
  font-size: 2rem;
  background: $pl-red;
  color: $pl-white;
  margin-top: 1rem;
  @media (min-width: 768px) {
    font-size: 3rem;
  }
  @media (min-width: 1200px) {
    margin-left: 5rem;
  }
}
